.brand-logo{
  margin-left: 40px;
}
.center{

width: 40%;
}
.left-align{
  float: left;
}
.waves-effect{
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
}
.right-align{
  float: right;
  margin-top: 20px;
  font-weight:  450;
}
